@theme {
  --color-primary: #0B1F3A;
  --color-primary-content: #FFFFFF;

  --color-secondary: #D4A72C;
  --color-secondary-content: #FFFFFF;

  --color-accent: #AC8417;
  --color-accent-content: #FFFFFF;

  --color-base-100: #EDEEF0;
  --color-base-200: #272727;
  --color-base-300: #303030;
  --color-base-content: #FFFFFF;

  --color-neutral: #F4F6F8;
  --color-neutral-content: #000000;

  --color-info: #4B4B4B;
}